TWITTER_CONSUMER_CLIENT_ID=""
TWITTER_CONSUMER_SECRET=""
TWITTER_AUTHORIZE_URL="https://x.com/i/oauth2/authorize"
TWITTER_REDIRECT_URL="http://127.0.0.1:8080/callback"
TWITTER_REDIRECT_URL_PORT="8080"
TWITTER_TOKEN_URL="https://api.x.com/2/oauth2/token"
TWITTER_AUTHORIZE_URL=""
MAX_WAIT_TIME=30